/*
 Description - This is regular problem solving question 
 Developer - Shyanaka Rama
*/

#include <iostream>
#include <string>
using namespace std;

const int NUM_PRODS = 9;
const int MIN_PRODNUM = 914;
const int MAX_PRODNUM = 922;

int getProdNum();
int binaryfunction(const int[], int, int);
void display(const string[], const string[], const double[], int);

int main ()
{
    int prodNum,index;
    char again;
    
    
    int id[NUM_PRODS] = {914,915,916,917,918,919,920,921,922};
    
    string tittle [NUM_PRODS] =
    {
        "Six step to Leadership",
        "Six step to Leadership",
        "The road to excellence",
        "Seven Lessons of qality",
        "Seven Lessons of qality",
        "Seven Lessons of qality",
        "Teams are made, not born",
        "Leadership for the Future",
        "Leadership for the Future"
    };
    string discription[NUM_PRODS]
    {
        "Books", "Audio CD", "DVD",
        "Books", "Audio CD", "DVD",
        "Books", "Books", "Audio CD"
    };
    
    double prices[NUM_PRODS]
    {
        12.95,14.95,18.95,16.95,21.95,
        31.95,14.95,14.95,16.95
    };
    
    do
    {
        prodNum = getProdNum();
        index = binaryfunction(id, NUM_PRODS, prodNum);
        if(index == -1)
           {
               cout << "Product number was not found"<<endl;
           }
        else
            display(tittle,discription,prices, index);
        cout<<"Would you like to check another book ? (Y/N) ";
        cin >> again;
    }while(again == 'Y' || again =='y');
    return 0;
}

int getProdNum()
{
    int prodNum;
    
    cout << "Enter product number : ";
    cin  >> prodNum;
    
    while(prodNum < MIN_PRODNUM || prodNum > MAX_PRODNUM)
    {
        cout << "Please enter with in the correct range "<< MIN_PRODNUM << "and through "<< MAX_PRODNUM <<". \n";
        cin >> prodNum;
    }
    return prodNum;
}


int binaryfunction(const int array[], int numElements, int value)
{
    int first = 0;
    int last = numElements-1;
    int mid ;
    int position = -1;
    bool found = false;
    
    while(!found && first<=last)
    {
        mid = (first+last)/2;
        if(array[mid]==value)
        {
            found = true;
            position = mid;
        }
        else if(array[mid]>value)
        {
            last = mid - 1;
        }
        else
        {
            first = mid + 1;
            
        }
    }
        return position;
}

void display(const string title[], const string desc[], const double price[], int index)
{
    cout << "Title : "<<title[index] << endl;
    cout << "Description : "<< desc[index] << endl;
    cout << "Price : $" << price[index] << endl;
}











